.Rproj.user
.Rhistory
.RData
.Ruserdata
man/.Rhistory
vignettes/appreci8R.log
appreci8R.Rproj
vignettes/.Rhistory
vignettes/appreci8R.bbl
vignettes/appreci8R.pdf
vignettes/appreci8R.synctex.gz
vignettes/appreci8R.tex
vignettes/appreci8R.toc
vignettes/appreci8R-concordance.tex
