export('appreci8Rshiny')
export('filterTarget')
export('normalize')
export('annotate')
export('combineOutput')
export('evaluateCovAndBQ')
export('determineCharacteristics')
export('finalFiltration')
import('shiny', except = c(runExample, dataTableOutput, renderDataTable, a))
import('shinyjs', except = c(info, show))
import('DT')
import('VariantAnnotation', except = c(fixed))
import('BSgenome')
import('BSgenome.Hsapiens.UCSC.hg19')
import('TxDb.Hsapiens.UCSC.hg19.knownGene')
import('Homo.sapiens')
import('SNPlocs.Hsapiens.dbSNP144.GRCh37')
import('XtraSNPlocs.Hsapiens.dbSNP144.GRCh37')
import('rsnps', except = c(swap))
import('Biostrings', except = c(head, tail))
import('MafDb.1Kgenomes.phase3.hs37d5')
import('MafDb.ExAC.r1.0.hs37d5')
import('MafDb.ESP6500SI.V2.SSA137.hs37d5')
import('MafDb.gnomADex.r2.0.1.hs37d5')
import('COSMIC.67')
import('rentrez')
import('PolyPhen.Hsapiens.dbSNP131')
import('SIFT.Hsapiens.dbSNP137')
import('seqinr', except = c(translate))
import('openxlsx')
import('Rsamtools')
import('stringr')
import('utils')
importFrom('stats', 'sd', 'fisher.test')
import('GenomicRanges')
import('S4Vectors', except = c(sd))
import('GenomicFeatures')
import('IRanges', except = c(sd))
import('GenomicScores', except = c(citation, type))
import('SummarizedExperiment')
